<div class="container">  
  <mat-card>
      <mat-toolbar color="accent">  
          <div align="center" style="color:white;text-align: right;">  
            Add  Item
          </div>    
        </mat-toolbar>
        <br><br>
        <mat-card-content>
            <form class="example-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

                <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Item Name" [formControl]="ItemName"
                                     [errorStateMatcher]="matcher">
                              <mat-error *ngIf="ItemName.hasError('required')">
                              <strong>Please enter the Item name</strong>
                              </mat-error>
                            </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input type="number" matInput placeholder="Item Price" [formControl]="ItemPrice"
                                   [errorStateMatcher]="matcher">
                            <mat-error *ngIf="ItemPrice.hasError('required')">
                            <strong>Please enter the Item Price</strong>
                            </mat-error>
                          </mat-form-field>
                    </div>
                    </div>

                    <div class="row">
                         <div class="col-md-2">
                            <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Add Item</button>
            
                         </div>
              
                         <div class="col-md-2">
                            <a  mat-raised-button color="warn" routerLink="/itemIndex">Cancel</a>
                          </div>
              
                    </div>
                  </div>
            </form>
        </mat-card-content>
  </mat-card>
</div>





